 .container{

    overflow:hidden;    
    font-family:monospace;    
    font-weight: 20px;
    font-style: bold;
    
}

.navbar a {
    font-size: 30px;
    letter-spacing: 2px;
}



.navbar li{
    padding-left: 40px;
}


