<div class="banner">
    

    <img src="../../../assets/img/about.jpg" alt="">
   
</div>
<!-- Banner Image  -->
<div
class="banner-image d-flex justify-content-center align-items-center"
>
<div class="content text-center ">
  <div class="jumbotron">
    <h1 id="display-4">Café Jogos  Programação!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <img class="fluid-img" src="../../../assets/img/curvared.png" alt="">
    
 
</div>

<!-- Main Content Area -->

<div class="media">
  <img src="../../../assets/img/curvared.png" class="mr-3" alt="...">
  <div class="media-body">
    <h5 class="mt-0">Media heading</h5>
    <p>Standing on the frontline when the bombs start to fall. Heaven is jealous of our love, angels are crying from up above. Can't replace you with a million rings. Boy, when you're with me I'll give you a taste. There’s no going back. Before you met me I was alright but things were kinda heavy. Heavy is the head that wears the crown.</p>


</div>