.banner{
    background-image: url('../../../assets/img/wenniel-lun-pe_R74hldW4-unsplash.jpg');
    height: 650px;
    background-position: center top;
    background-size: cover;
}


.img{
    
    height: 250px;  
    
    top: 30%;
    /*bottom: 20%;*/
    right: 3%;
    position: absolute;
}

.banner h1{
    color:white;
    font-size: 50px;
    font-weight: bold;
    top: 50%;
    left: 3%;
    position:absolute;

}

.banner h2{
    color:white;
    font-size: 35px;
    font-style: normal;
    top: 10%;
    left: 5%;
    position:absolute;
}


.banner h3{
    color:white;
    font-size: 35px;
    font-style: italic;
    bottom:20%;
    left: 10%;
    position:absolute;

}